body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 80vw;
  height: 63vh;
  margin: 0 auto;
}

/* header */
.top {
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding-left: 5vh;
  border-bottom: solid 1px rgb(235, 235, 235);
}

.top p {
  font-weight: 100;
}

.top i {
  color: #5c47d2;
  font-size: 2.7vh;
}

/* main */
.counter-menu {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.less {
  font-size: 6vh;
  border: none;
  background-color: white;
}

.more {
  font-size: 6vh;
  border: none;
  background-color: white;
}

.count {
  color: white;
  width: 70px;
  height: 70px;
  font-size: 5vh;
  border-radius: 0.8vh;
  border: none;
  background-color: #5c47d2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  color: white;
  width: 70px;
  height: 3vh;
  font-size: 1.7vh;
  border-radius: 0.8vh;
  border: none;
  background-color: #5c47d2;
  margin-left: 7px;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 1vh;
}
